<div>
    <h2 data-translate="releasemanagerApp.release.home.title">Releases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="release.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="releasemanagerApp.release.home.createLabel">
                        Create new Release
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'releasemanagerApp.release.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="project.name"><span data-translate="releasemanagerApp.release.project">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="releasemanagerApp.release.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="releasemanagerApp.release.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="releasemanagerApp.release.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="commitId"><span data-translate="releasemanagerApp.release.commitId">Commit Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="config"><span data-translate="releasemanagerApp.release.config">Config</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adapters"><span data-translate="releasemanagerApp.release.adapters">Adapters</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="otherSteps"><span data-translate="releasemanagerApp.release.otherSteps">Other Steps</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="file"><span data-translate="releasemanagerApp.release.file">File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="release in vm.releases track by release.id">
                    <td>
                        <a ui-sref="project-detail({id:release.project.id})">{{release.project.name}}</a>
                    </td>
                    <td>{{release.name}}</td>
                    <td>{{release.description}}</td>
                        <td>{{release.date | date:'mediumDate'}}</td>
                    <td>{{release.commitId}}</td>
                    <td>{{release.config}}</td>
                    <td>{{release.adapters}}</td>
                    <td>{{release.otherSteps}}</td>
                    <td>
                        <a ng-if="release.file" ng-click="vm.openFile(release.fileContentType, release.file)" data-translate="entity.action.open">open</a>
                        <span ng-if="release.file">{{release.fileContentType}}, {{vm.byteSize(release.file)}}</span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="release-detail({id:release.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="release.edit({id:release.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="release.delete({id:release.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
